html,
body {
  height: 100%;
  overflow: hidden;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #222831;
  font-family: "Quicksand", sans-serif;
  color: #eeeeee;
  display: flex;
  flex-flow: column;
}

main {
  flex: 1;
  display: flex;
  overflow: hidden;
}
main > div {
  flex: 1;
}

header {
  font-size: 36px;
  text-align: center;
  margin: 10px;
}

a:link,
a:visited {
  margin: 5px;
  border: 2px solid red;
  border-radius: 25px;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  color: #eeeeee;
  background-color: #222831;
}

a:hover,
a:active {
  background-color: #393e46;
  transition: all 0.3s ease;
}

.buttons {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bt {
  font-size: large;
}
