<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <title>Spotify Tools</title>
</head>

<body>
    <div class="title">
        Spotify tools
    </div>
    <div class="buttons">
        <a class="bt" href="details">Song Details</a>
        <a class="bt" href="playlistvis">Playlist Visualizer</a>
    </div>
</body>

</html>