<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home.css">
    <title>Spotify Tools</title>
</head>

<body>
    <div class="title">
        Spotify tools
    </div>
    <div class="flex-container">
        <div class="flex-child">
            <a href="details">Song Details</a>
        </div>
    </div>
</body>

</html>