<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/playlist.css">
    <title>Playlist Visualizer</title>
</head>
<body>
    <header>
        {{ pl_name }}
    </header>
    <main>
    {% for item in tracks %}
        {% if not item["is_local"] %}
        <img class="songimg" src='{{ item["track"]["album"]["image_url"] }}' title="{{ item['track']['album']['name'] }}">
        {% endif %}
    {% endfor %}
    </main>
</body>
</html>